*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(131, 131, 131);
}

h2 {
    background-color: blue;
    color: #fff;
    padding: 15px;
    font-size: 25px;
}